[*.cs]

# CS0649: Полю "AppearanceOfCellsSystem._filterForResources" нигде не присваивается значение, поэтому оно всегда будет иметь значение по умолчанию null.
dotnet_diagnostic.CS0649.severity = warning
